.NavList {
  
  & ul {
    list-style-type: none;
    display: flex;

    & li:hover a {
      background-color: #f8dcd3;
    }

    & a {
      text-decoration: none;
      color: black;
      padding: 1rem 0.5rem;
    }

    &.column {
      display: block;

      & li {
        width: 100%;
      }

      & a {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
      }

    }
    
  }

}