.AuthForm { 
  width: 30%;
  margin: 2rem auto;


  .form-group { 
    margin: 0.6rem;
  }

  label { 
    text-align: start;
    display: block;
  }

  input,
  button { 
    width: 100%;
    padding: 0.5rem;
  }

  p {
    text-align: center;
  }

}